input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
}
#main{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container{
    margin: 2px;
    width: 400px;
    background-color: white;
}

#passwordbox{
    height: 50px;
    width: 100%;
    background-color: skyblue;
    text-align: center;
    font: bold;
    justify-content: center;
    font-size: 25px;
}
#inputs{
    font-size: 30px;
}
input{
float: right;
}
input[type='checkbox']:checked {
    background-color:skyblue;
  }
  input[type='checkbox']:checked:after {
    content: '\2713';
    color:blue;
  }
  input[type='checkbox']{
  text-align: center;
    width: 20px !important;
    height: 20px !important;
   appearance: none;
border: 1px solid red;
    font-size: 1em;
  }

  input[type='number']{
    margin-top: 4px;
    margin-right: 2px;
  }
  label{
   padding: 5px;
  }
button{
  font-size: 20px;
  width: 100%;
  background-color: pink;
  color: black;
}
@media (min-width:200px) and (max-width:400px) {
 
  #length{
    width: 40px;
  }
  input[type="checkbox"]{
    position: relative;
    right:10px;
  }
}