body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9d99c5;
}
#main{
   
     height: 100%;
     width: 100vw;
     display: flex;
     flex-wrap: wrap;
     padding-bottom: 50px;
}
.container{
    height: 300px;
    width: 300px;
    background-color: white;
    margin: 10px;
    margin-top: 55px;

}
 textarea{                                                                     
        border: none;
        width: 280px;
        height: 280px;
        resize: none;
        padding: 10px;
        font-size: 18px;
        vertical-align: top;
}
textarea:focus{
        border: 0;
        outline: 0;
}
.insidecontainer{
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: end;
    color: white;    
    width: 100%;
    font-size: 20px;
   
}
 .insidecontainer i{
    padding: 5px;
    cursor: pointer;
 }
 button{
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
 }

 @media(min-width:200px) and (max-width:400px){
    button{
        position: fixed;
        top: 10px;
        left: 10px;
        width: 150px;
    }
    .container{
        width: 80%;
    }
    textarea{
        width: 90%;
        height: 80%;
    }
 }
 @media(min-width:400px) and (max-width:600px){
    button{
        position: fixed;
        top: 10px;
        left: 40px;
        width: 200px;
        height: 40px;
        font-size: 30px;
    }
 }
 @media(min-width:600px) and (max-width:900px){
    button{
        position: fixed;
        top: 10px;
        right: 60px;
        width: 200px;
        height: 40px;
        font-size: 30px;
    }
 }
 @media(min-width:900px) {
    button{
        position: fixed;
        top: 10px;
        right: 80px;
        width: 200px;
        height: 40px;
        font-size: 30px;
    }
 }