  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
span{
   position: relative;
   top: 30%;
}
h1{
    color: white;
}
#main{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#container{
    background-color: white;
    height: 80px;
    width: 300px;
    font-size: 30px;
}
#btn{
    height: 30px;
    width: 300px;
    font-size: 25px;
    justify-content: center;
    background-color: pink;
}

button:hover{
    cursor: pointer;
}

