body{
    background-color: rgba(208, 221, 229);
    margin: 0;
    padding: 0;
}
#main{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: white;
    border: 2px solid grey;
    width: 420px;
    height: 400px;
    position: absolute;
    top: 50px;
}
input[type="text"]{
    width: 97%;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 2px green;
    height: 40px;
    padding-left: 10px;
    display:block;
}
input:focus{
    border: 0;
    outline: 0;
}
#unodered{
    height: auto;
    padding: 0;
    margin: 2px;
    width: 100%;
}

li{
    border-radius: 5px;
    background-color: skyblue;
   display: block;
    list-style: none;
    margin: 3px;
    font-size: 25px;
}
.text{
    position: relative;
    left: 30px;
    bottom: 3px;
}
input[type="checkbox"]{
   margin: 10px -12px 15px 5px;
}
.cross{
    position: absolute;
    left: 390px;
}
.done{
    text-decoration: line-through;
    color: white;
    background-color: grey;
}


 @media (min-width:400px) and (max-width:700px){
    #main{
        width: 80vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container{
        width: 50%;
      
    }
    input[type="text"]{
        width: 90%;
    }
    .cross{
        position: absolute;
       left:90% ;
    
    }
 }
 @media (min-width:200px) and (max-width:400px){
    #main{
        width: 80vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container{
        width: 50%;
      
    }
    input[type="text"]{
        width: 90%;
    }
    .cross{
        position: absolute;
        left: 80%;
        
    }
 }