/* #733D00(brown) , #703C01 , #686868(grey) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#main{
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
}
#kurti{
    color: #888787;
   height: 20px;
   position: relative;
   left: 70px;
}
#side-pictures{
   display: flex;
   flex-direction: column;
}
button{
    height: 90px;
    width: 90px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: 40px;
    right: 90px;
}
#bigger-display{
    height: 500px;
    width: 350px;
   border-radius: 15px;
   background:url(assignment.jpg)  no-repeat center center/cover;
   position: relative;
   top: 40px;
   right:90px;
   
}
#container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 70%;
    width: 50%;
    position: relative;
    top: 10%;
    
}
#container2{
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    height: 70%;
    width: 40%;
    position: relative;
    top: 14%;
    right: 8%;
    font-size: 10px;
}
#container2 h2 {
    color: #8e3904;
    font-size: 20px;
}

#readmore{
    display: none;
}
#rating{
    height: 20px;
    padding: 2px;
    border-radius: 4px;
    background-color: rgb(230, 221, 204);
}

#price{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

#select_color{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
}
#color-selector{
    display: flex;
}
#color-selector h2{
    display: block;
   
}
#color-selector a{
    position: relative;
    top: 20px;
    left: 210%;
    color: black;
    font-size: 15px;
}
#color-of-kurti-black{
    height: 20px;
    width: 20px;
    background-color: black;
}
#color-of-kurti-purple{
    height: 20px;
    width: 20px;
    background-color: purple;
}
#color-of-kurti-orange{
    height: 20px;
    width: 20px;
    background-color: rgb(223, 190, 128);
}
#color-btn{
    position: relative;
    right: 70px;
    top: 5px;
}
#select-size{
    display: flex;
    flex-direction: row;
}
.size-of-kurti{
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 3px;
}
#size-selector{
    display: flex;
    position: relative;
    bottom: 20px;
}
#size-selector h2{
    display: block;
   
}
#size-selector a{
    position: relative;
    top: 10px;
    left: 70%;
    color: black;
    font-size: 15px;
}
#size-btn{
    position: relative;
    left: 80px;
    bottom: 75px;
}
.checkoutbtn{
    height: 40px;
    width: 140px;
    border: 2px solid #703C01;
}
#cart .checkoutbtn{
    height: 40px;
    width: 140px;
    border: 2px solid #703C01;
    color: #733D00;
    font-family: 'Poppins', sans-serif;
}
#buy .checkoutbtn{
    height: 40px;
    width: 160px;
    border: 2px solid #703C01;
    background-color: #733D00;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#checkout{
    position: relative;
    left: 80px;
    bottom: 50px;
}
#Quality-factors{
    display: flex;
}

.quality1{
    height: 80px;
    width: 220px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.quality1 i{
  position: relative;
  left: 50%;
  font-size: 15px;
}

.quality2{
    height: 80px;
    width: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}
.quality2 i{
    position: relative;
    left: 60%;
    font-size: 15px;
  }
.quality3{
    height: 80px;
    width: 190px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}
.quality3 i{
    position: relative;
    left: 50%;
    font-size: 15px;
  }
.quality4{
    height: 80px;
    width: 220px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}
.quality4 i{
    position: relative;
    left: 50%;
    font-size: 15px;
  }
